bot:
  name: ${BOT_NAME}
  token: ${BOT_TOKEN}
  password: ${BOT_PASSWORD}

spring:
  datasource:
#    url: jdbc:h2:mem:test
    url: jdbc:h2:file:./review-bot-db
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console.enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  flyway:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: 'prometheus, health'
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
