bot:
  name: ${BOT_NAME}
  token: ${BOT_TOKEN}
  password: ${BOT_PASSWORD}

spring:
  data:
    mongodb:
      authentication-database: admin
      username: ${MONGO_USER}
      password: ${MONGO_PASSWORD}
      database: review-bot
      port: 27017
      host: mongodb

management:
  endpoints:
    web:
      exposure:
        include: 'prometheus, health'
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
